body {
}

.header_container {
    margin: 0 auto;
    width: 100%;
    
}
.carosel_div{
    position:absolute;
    top:8%;
    width:100%;
    z-index:1;
}

carousel {
    z-index: 99;
}

.carousel-img {
    width: 100%;
    height: 60%;
}

.full_wid_nav {
    padding: 0 50px;
    display: inline;
    width: 100%;
    opacity:0.15;
    z-index:3;
}



.nav_header {
    /*background:url(app/content/header/imgs/logo.png);*/
    background: none;
    width: 20%;
    float:left;
}

.nav_items {
    width: 80%;
}
.navbar ul li {
    display: inline;
}
.logo {
    left: 5%;
}


.header-new {
    background: url(app/content/header/imgs/header_bg.png) repeat-x;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}
