.hp_carousel_common{

    position:relative;
}
.hp_videos_display
{
	width: 100%;
  border: 1px solid black;
}

.hp_videos_display ul{

}

.hp_videos_display li{
	display:inline;
}
.hp_videos_display img{
	width:10%;
	height:10%;
}