<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
            <mimeMap fileExtension=".ts" mimeType="text/x.typescript" />
      <!--<mimeMap fileExtension=".ts" mimeType="application/x-typescript" />-->
    </staticContent>

    <modules runAllManagedModulesForAllRequests="true" />

  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--<system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>-->
</configuration>