.adminDiv{
    /*width:100%;
    height:100%;*/
    display:inline;
}

.admVideoDiv{
    margin-top:5%;
    margin-left:2%;
    margin-right:3%;
    float:left;
    width:60%;
    position:absolute;

}
.admItemAdd {
    width: 30%;
    float: right;
    margin-top: 5%;
    margin-left:5%;
    height:60%;
}
.addeditbuttons{
    display:inline;
}
.button-add-div{
    float:left;
    width:40%;

}
.button-edit-div{
    width:40%;
    float:right;
}
.admin-add-button{
    width:70%;
    margin-left:10%;
        border-color: #d3d3d3;
    background: #f8f8f8;
    color: #333;
    display: inline-block;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.item-details{
    margin-top:20%;

}
.each-item-div{
    margin-top:3%;

}

.admin-video-controls {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 80%;*/
  
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.13, rgb(3,113,168)), color-stop(1, rgb(0,136,204)) );
}
#MyAdminVideo1 {
    width:100%;
	height:100%;

}
.admin_video_overlays {
    position: absolute;
    width: 100%;
    height: 90%;
    opacity: 1;
    z-index: 2;
    /* left: 0; */
    /* right: 0; */
    /* top: 0%; */
    text-align: center;
}