/* app css stylesheet */
/*header css*/

.headermain {
    height: 10%;
    width: 100%;
    /*background-color: #4e7dd1;*/
    overflow: hidden;
    background-color: #26292c;
    border-bottom: 1px solid #353535;
    text-shadow: none!important;
    text-transform: none!important;
    font-weight: 400!important;
}

.icon {
    position:absolute;
    height: 10%;
    width: 10%;
    padding-top: 1%;
    float: right;
    cursor:pointer;
}

/*.headerimg {
    margin: 10px;
    float: left;
    height: 70%;
    width: 7%;
}

.headermain span {
    margin: 10px;
    font-size: 20px;
    float: right;
    color: white;
}*/



/* Image slide div*/

.slideImagesDiv {
    height: 40%;
}



/*video content*/
.videocontent {
    overflow-y: scroll;
    position: absolute;
    bottom: 0px;
    top: 10%;
    display: block;
    width: 100%;
    /*background-image: url(../app/img/back.jpg);*/
  background-color: rgb(26, 28, 29);
}

.videocontentfs {
  
    position: absolute;
    bottom: 0px;
    top: 0%;
    display: block;
    width: 100%;
    /*background-image: url(../app/img/back.jpg);*/
  background-color: rgb(26, 28, 29);
}


.video-controls {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 80%;*/
  
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.13, rgb(3,113,168)), color-stop(1, rgb(0,136,204)) );
}

.video-controlsfs {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin-left:18%;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.13, rgb(3,113,168)), color-stop(1, rgb(0,136,204)) );
}


#video-container:hover #video-controls {
    opacity: .9;
}

button {
    background: rgba(0,0,0,.5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

    button:hover {
        cursor: pointer;
    }

#seek-bar {
    width: 65%;
}

#volume-bar {
    width: 10%;
}

#seek-time {
    width: 3%;
}


.controlimg {
    /*margin-bottom:5px;*/
    width: 3%;
    height: 3%;
    margin-left: 2%;
}

.item_overlays{
     z-index: 5;
     /*width:20%;
     height:30%;*/
     position:absolute;
}

.modal {
  content: "";
 /*position:absolute;*/
  /*background: rgba(0, 0, 0, 0.6);*/
 color:blue;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 14%;
  height:40%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  /*margin-left: -200px;*/
  position: fixed;
  /*left: 30%;*/
  top: -100%;
  z-index: 11;
  width: 11%;
  /*height:25%;*/
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 5%;
 text-align:center
}
.modal-header,
.modal-footer {
  padding: 10px 30px;
}
.modal-header {
   display:inline;
}
.modal-header span h2 {
    margin-top:0px;
    float:left;
  font-size: 22px;
}
.modal-header img {
    float:right;

}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
  padding-top:0px;
 background-color: rgba(0, 0, 0, 0.31);
}
.modal-footer h5{
	margin:4px;
}

.close {
    float:right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  float:right;
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}



.video_overlays {
    position: absolute;
    /*width: 85%;*/
    height:90%;
    opacity: 1;
    z-index: 2;
    left: 0%;
    right: 0;
    top:0%;
    text-align: center;
}
.video_overlaysfs {
    position: absolute;
    /*width: 85%;*/
    height:95%;
    opacity: 1;
    z-index: 2;
    left: 0%;
    right: 0;
    top:0%;
    text-align: center;
}
.video_overlays .img .tooltip{
	color: black;
}


.wrap_video {
    margin-left: 15%;
    margin-right: 15%;
	position:absolute;
	width:70%;
}
.wrap_videofs {
    /*margin-left: 15%;
    margin-right: 15%;*/
	position:absolute;
	width:100%;
    height:95%;
}
.videodiv{
    /*width: 85%;*/
    height:80%;
}
.videodivfs{
    /*width: 85%;*/
    height:95%;
}

#MyVideo1 {
    width:100%;
	height:100%;

}


.overlay-image{
    position: absolute;

    width: 4%;
   
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    cursor:pointer;
}



.opacity-in {
    opacity: 0.3;
}

.opacity-out {
    opacity: unset;
}

.price {
    background-color: #0371A8;
}

.shoprupee {
    height: 12px !important;
    width: 8px !important;
}


.listVideo {
    width: 100%;
    margin-left: 10%;
    margin-right: 6%;
}

    .listVideo ul li {
        display: inline;
    }

    .listVideo ul {
        list-style-type: none;
    }

    .listVideo img {
        /*border: 0 none;*/
        /*display: inline-block;*/
        max-height: 10%;
        border-radius: 10px;
        -moz-border-radius: 10px;
        width: 12%;
        vertical-align: middle;
        margin-left: 2%;
        border: 1px;
        cursor: pointer;
    }

        .listVideo img:hover {
            max-height: 13%;
            border-radius: 10px;
            -moz-border-radius: 10px;
            padding: 1px;
            border: 1.2px solid black;
            cursor: pointer;
            width: 14%;
        }
