<div ng-class="{'videocontent': !fullscrren , 'videocontentfs': fullscrren}">

    <br />

    <div ng-class="{'wrap_video': !fullscrren , 'wrap_videofs': fullscrren}">



        <div ng-class="{'video_overlays': !fullscrren , 'video_overlaysfs': fullscrren}" ng-show="isVisible">
            <div ng-repeat="item in availItems" ng-style="{'position':'absolute' ,'top': item.ptop +'%' , 'left': item.pleft+'%'}" ng-class="all-overlays overlay-image overlay-1 out">
                <img style="width: 30px; height: 30px; color: black" ng-src="../app/img/plus-tag.svg" ng-click="openSelectedItem(item)">
            </div>
            <div class="item_overlays" ng-style="{'position':'absolute' ,'top': selectedItem.ptop+15+'%' , 'left': selectedItem.pleft+7+'%'}" ng-show="isItemSelected">
                <div class="modal">
                    <div class="modal-dialog" ng-style="{'top': (selectedItem.ptop/2)+'%'}">
                        <div class="modal-header">
                            <span>
                               <!-- <h2>{{selectedItem.name}}</h2>-->

                                <img ng-click="closeItemSelected()" class="close" width="20" height="20" src="../app/img/close.png" alt="" />
                            </span>
                        </div>
                        <div class="modal-body">
                   
                         
						 <iframe ng-src="{{ProductHandleURL}}"
							width="60%" height="1" frameborder="0" scrolling="no" allowtransparency="true" style="max-width: 180px; height: 300px;"></iframe>

                        </div>
                       <!-- <div class="modal-footer">
                            <h5>Price {{selectedItem.price }} /-</h5>

                            <button ng-click="openInNewWindow(selectedItem)">Buy Now</button>

                        </div>-->


                    </div>
                </div>

            </div>

        </div>

        <div ng-class="{'videodiv': !fullscrren , 'videodivfs': fullscrren}">

            <video id="MyVideo1" class="opacity-{{opacityinorout}}">
                <source src="../app/video/sreemanthudu.mp4" type="video/mp4">
            </video>

            <div ng-class="{'video-controls': !fullscrren , 'video-controlsfs': fullscrren}">
                <!-- <img class="controlimg" title="select Item" src="../app/img/cart-icon.png" ng-click="ShowItemsAvail()" alt="" />-->

                <img id="play-pause" class="controlimg" ng-src="../app/img/{{playorpause}}-icon.png" ng-click="ShowItemsAvail()" alt="" />

                <input type="range" id="seek-bar" value="0">

                <img id="mute" class="controlimg" ng-src="../app/img/{{muteorunmute}}-icon.png" alt="" />
                <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">

                <img id="full-screen" title="Full screen" src="../app/img/FullScreen.png" class="controlimg" alt="" />
            </div>
        </div>


    </div>

    <br />



</div>

